$backgroundImage: url("../img/m-h-day.jpg");
$colorAfter: #14a0c7;
$contentColor: #2c2f3c;
$fontFamily: 'Hind', sans-serif;
$backgroundColor: #fff;
$sectionBgColor: #21232e;
$gradient: linear-gradient(to right, #679708 0%, #315fcc 100%);
$buttonBgColor: #699900;
$headerLogoColor: #2c2f3c;
$footerLogoColor: #c0c3ce;