$backgroundImage: url("../img/m-h-night.jpg");
$colorAfter: #ff4e33;
$contentColor: #ffffff;
$fontFamily: 'Fresca', sans-serif;
$backgroundColor: #21232e;
$sectionBgColor: #3b3f50;
$gradient: linear-gradient(to right, #DEA505 0%, #963150 100%);
$buttonBgColor: #e3ac00;
$headerLogoColor: #ffffff;
$footerLogoColor: #d1d1d1;